// Specific CSS for your home-page
h2{
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #0B032D;
}

h3{
  font-size: 20px;
  color: grey;
}

h4{
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #A4BFEB;
}

p{
  color: grey;
}


body{
  background: white;
}

.logo{
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.05);
  padding: 3px;
  border-radius: 5px;
}

.pictures{
  margin-top: 40px;
}


.c-boat{
  background-image: image-url('boat.jpg');
}

.c-wine{
  background-image: image-url('wine.jpg');
}

.c-sunset{
  background-image: image-url('sunset.jpg');
}


.c-bathroom-one{
  background-image: image-url('bathroom_one.jpg');
}

.c-bedroom-one{
  background-image: image-url('bedroom_one.jpg');
}

.c-bedroom-two{
  background-image: image-url('bedroom_two.jpg');
}

.c-estuary{
  background-image: image-url('estuary.jpg');
}

.c-frame{
  background-image: image-url('frame.jpg');
}

.c-horses{
  background-image: image-url('horses.jpg');
}

.c-kitchen{
  background-image: image-url('kitchen.jpg');
}

.c-living-room{
  background-image: image-url('living_room.jpg');
}

.c-outside-wall{
  background-image: image-url('outside_wall.jpg');
}

.c-night-fire{
  background-image: image-url('night_fire.jpg');
}

.c-preselis{
  background-image: image-url('preselis.jpg');
}

.c-smootch{
  background-image: image-url('smootch.jpg');
}

.c-track{
  background-image: image-url('track.jpg');
}

.c-fire{
  background-image: image-url('fire.jpg');
}

.carousel-item{
  height: 100%;
  background-size: contain;
  background-size: cover;
}

.carousel-inner {
  height: 100vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.booking-link{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.booking-logo{
  height: 80px;
  width: 80px;
  &:hover{
    margin-top: 8px;
  }
}

@media(max-width: 992px) {
  .carousel-inner {
    height: 100vh;
  }
}

@media(max-width: 768px) {
  .carousel-inner {
    height: 50vh;
  }
}
