.footer{
  width: 100vw;
  height: 80px;
  background: #011936;
  border-top: #ED254E solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo{
  height: 60px;
  width: 60px;

}
