<div style="font-family: arial; font-size: 14px;">

  <h1><strong>Hi {{First Name}}!</strong></h1>

  <p>Firstly, just a huge thank you for being one of the first testers of My Finish Line and submitting feedback through our form (Don't worry, incase you didn't get a chance yet, you can do it  <a href="https://forms.gle/HFa9XZckQEbzv1m79" target="_blank">HERE</a></p>

  <p>The feedback you gave us has been super useful and we've been working hard to improve the site inline with your suggestions since you signed up. Here's a few improvements since then</p>

  <ul>
    <li><strong>Privacy Policy</strong></li>
    <ul>
      <li>A check box on sign up regarding emails has been added. As you signed up before the change, this has been defaulted to "unchecked". So you wont hear from us about exciting developments 😱 UNLESS you head to your <a href="https://www.myfinishline.co.uk/users/edit" target="_blank">Dashboard</a>. Then check the "RECEIVE UPDATES ABOUT MY FINISH LINE BY EMAIL" box 😍</li>
      <li>You now have control over whether your plans are public for others to see and follow. All plans up until this point have been made private in order to give you the control. It would massively help us out the more public plans we have so if you are willing, all you have to do is go to your plan and click on the "PUBLISH PLAN" button 🙏</li>
    </ul>
    <li> <strong>Following a plan</strong> </li>
    <ul>

      When you now follow a plan, you will have your own version saved in your dashboard which allows you to add/remove/edit workouts as well as mark workouts as "done" as you go to see your progress. This is only visible and changeable by you</p>
    </ul>
    <li>Bug fixes - thank you for helping us spot these (we fixed loads)</li>
  </ul>

  <p><strong>Whats next?</strong></p>
  <ul>
    <li>We will be continuing to test for a bit longer as we continue to make improvements. If you have Strava-using friends that you think would be interested in beta testing, please do get in touch</li>
    <li>When we officially launch we would also be so grateful if you could help us spread the word. Stay tuned for more info on this</li>
    <li>We are also currently undergoing a huge design remodel. Keep an eye on the site over the next few weeks</li>
  </ul>

  <p>Lastly, once again thank you for being one of the first users. We are still right at the start of this journey and are super excited to make this into an awesome platform that we hope you will be excited to use and will inspire others to get active!</p>
  <br>

  <p>Kind Regards</p>
  <br>
  <p><strong>Sahar Khan</strong></p>

  <p>
    Founder
    <br>
    My Finish Line
    <br>
    Email: sahar@myfinishline.co.uk
    <br>
    Instagram: <a href="https://www.instagram.com/myfinishlineuk/" target="_blank">@myfinishlineuk</a>
    <br>
    <a href="https://www.myfinishline.co.uk/" target="_blank">myfinishline.co.uk</a>
  <p>
  <a href="https://www.myfinishline.co.uk" target="_blank">

    <img src="https://res.cloudinary.com/dxwri9auy/image/upload/v1559574366/BANNER.jpg" alt="" style="width: 300px; height: 112px;">
  </a>
</div>
